---
export const partial = true;

const formData = await Astro.request.formData();

const rating = formData.get('rating')?.toString();
---

<div
	class="flex max-w-sm flex-col gap-4 rounded-2xl bg-gradient-to-b from-slate-800 to-slate-900 p-6 text-slate-400 items-center"
>
	<img class="w-40 h-32 pb-2" src="/interactive-rating/illustration-thank-you.svg" alt="" />
  <p class="text-orange-500 bg-slate-700 py-2 px-4 rounded-full">You selected {rating} out of 5</p>
  <h2 class="text-2xl font-bold text-slate-100 pt-2">Thank you!</h2>
  <p class="text-center pb-6">We appreciate you taking the time to give a rating. If you ever need more support, don't hesitate to get in touch!</p>
</div>